
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
.App{
  width: 100%;
}
a:focus-visible {
  outline: 2px solid var(--primary-color);
}
body {
   
  min-height: 100vh ;
  width: 100% !important;
  padding: 0;
  box-sizing: border-box !important;
  height: 100%;
  font-family: 'Roboto', sans-serif;

  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  background-color: #131a1d;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

header:hover {
  background-color: #174040;
}

.container-fluid {
  display: flex;
  background-color: #005f79;
  justify-content: flex-start; 
  padding: 0;
  min-height: 100vh;
   width: 100% !important;
   margin: auto !important;

}
/* Sidebar *//* Sidebar */
.sidebar.mobile-open {
  transform: translateX(0);
}

.hamburger-menu {
  background: #444;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

/* Estilo para telas menores */


.sidebar {
  width: 240px;
  background-color: #2b3a42;
  padding: 20px;
  position: sticky;
  top: 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  z-index: 1000;
}


.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 12px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s, padding-left 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #1371b4;
  transform: translateX(5px);
  padding-left: 20px; /* Adiciona um efeito de recuo suave */
}



.submenu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding-left: 20px;
  margin-left: 15px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.submenu.show {
  max-height: 300px;
  opacity: 1;
}

.toggle-menu {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease;
}

.toggle-menu:hover {
  color: #52d6a4;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 300px;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 300px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.submenu {
  animation: slideUp 0.3s ease forwards;
}

.submenu.show {
  animation: slideDown 0.3s ease forwards;
}

.submenu li a:hover {
  color: #dde3e2;
}

/* Main Content */
main {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  /* border-radius: 12px; */
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #131a1d;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Formulário Cadastro */
.Cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 128, 128, 0.05);
  width: 350px;
  height: auto;
  padding: 30px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}

.Cadastro input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  outline-style: none;
}

.Cadastro input:focus {
  border-color: #00796b;
}

.Cadastro button {
  margin-top: 5px;
  background-color: #1371b4;
  padding: 10px 50px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Cadastro button:active {
  opacity: 0.8;
  background-color: rgba(0, 102, 85, 0.8);
}

/* Tabela */
.tabela {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  

}

.tabela table {
  width: 100%;
  max-width: 450px;
  margin: 20px 0;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.tabela th, .tabela td {
  padding: 12px 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.tabela th {
  background-color: #1371b4;
  color: #fff;
  font-weight: bold;
}

.tabela tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabela tbody tr:hover {
  background-color: rgba(0, 128, 128, 0.1);
}

.tabela button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabela .apagar {
  background-color: #e74c3c;
}

.tabela .apagar:hover {
  background-color: #c0392b;
}

.tabela .editar {
  background-color: #27ae60;
}

.tabela .editar:hover {
  background-color: #229954;
}
.crudid{
  outline-style: none;
  border: none;
  margin: 0 3px;
  box-shadow: 1px 1px 1px black;
 
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #f9f9f9;
  width: 300px;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  height: auto;
}
.modal-content{
  width: 280px;
  height: auto;
}
.modal p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal button {
  background-color: #27ae60;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nao {
  background-color: red !important;
}

.sim:hover, .nao:hover {
  opacity: 0.8;
}

/* Mensagem */
.mensagem {
  text-align: center;
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
  width: 350px;
  max-width: 400px;
  padding: 10px;
  position: absolute;
  left: 57.5%;
  top: 25%;
  
  transform: translateX(-50%);
  transition: opacity 0.5s ease, top 0.5s ease;
  border-radius: 8px;
  display: none;
  z-index: 2000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

option {
  background-color: #ffffff;
  transition: 3000ms;
}

select {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5%;
  border: none;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 300ms;
  margin-bottom: 7px;
  display: flex;
}

/* Dashboard */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

  .card {
      background-color: #3498db;
      color: white;
      border-radius: 8px;
      padding: 10px;
      text-align: center;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease-in-out;
      box-shadow:1px 1px 1px black ;
  }
  
  .card:hover {
      transform: scale(1.05);
  }
  
  .card h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
  }
  
  .card p {
      font-size: 2rem;
      font-weight: bold;
  }
  
  /* Ajustes para o Gráfico */
  .chart-container {
      max-width: 800px;
      margin: 0 auto; /* Centraliza o gráfico */
      padding: 20px;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  canvas {
      width: 100% !important;
      height: 400px !important;
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .sair{
      position: absolute;
      left: 90%;
      /* top:10%; */
      background-color: transparent;
      padding: 8px 20px;
      border: none;
      color: white;
      cursor: pointer;
      border-radius: 4px;
  }
  .sair:active{
    opacity: 0.8;
    color:red;
  }
  
.usuario{
  position: absolute;

  left: 4%;
  border-radius: 100%;
  padding: 20px;
  background-color: #005f79;
     
  
}
/* Estilos gerais da seção de login */
.login-section {
  background-color: #f4f4f4;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}


/* Cabeçalho */
.login-header {
  text-align: center;
  background-color: #22628d;
  color: #fff;
  padding: 10px;
  width: 360px;
  border-radius: 5px 5px 0 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Corpo do formulário */
.login-body {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 360px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.5s ease-in-out;
}


/* Animação para o formulário */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Grupo de entradas (inputs) */
.login-input-group {
  margin-bottom: 20px;
}

.login-input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login-input-group input {
  width: 93%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  transition: all 0.3s ease;
}

.login-input-group input:focus {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 121, 107, 0.5);
  outline: none;
  border: 1px solid #22628d;
}

/* Botão de login */
.login-button {
  width: 100%;
  padding: 12px 20px;
  background-color: #22628d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #2e7fb6;
  transform: scale(1.02);
}

.login-button:active {
  background-color: #2e7fb6;

  transform: scale(0.98);
}

/* Mensagem de erro */
.login-error {
  color: #d32f2f;
  margin-bottom: 10px;
  font-size: 0.9rem;
  text-align: center;
  animation: fadeError 0.3s ease-in-out;
}

/* Animação para a mensagem de erro */
@keyframes fadeError {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* Ajustes para o gráfico */
.chart-container {
  max-width: 800px;
  margin: 0 auto; /* Centraliza o gráfico */
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

canvas {
  width: 100% !important;
  height: 400px !important;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* Logo da seção de login */
.login-logo img {
  width: 250px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Responsividade */
/* @media (max-width: 768px) {
  .sidebar {
    position: absolute;
    height: 100vh;
    overflow-y: auto;
    left: -100%;
    transition: left 0.3s ease-in-out;
  }
  .sidebar.active {
    left: 0;
  }

} */
.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0; /* Alinha corretamente a sobrecarga à tela inteira */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-spinner-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Fundo semitransparente */
  filter: blur(5px); /* Aplica o desfoque ao fundo */
  z-index: -1; /* Coloca o desfoque atrás do conteúdo */
}

.spinner {
  /* Aqui você pode estilizar seu spinner, por exemplo: */
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-export{
  margin-top: 10px;
  background-color: #22628d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 5px;
}
.btn-export:active{
  color: #22628d;
  background-color: #ffffff;
}

@media (max-width: 480px) {
  .loading-spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
  }
  header {
 
    z-index: 2;
  }
  header h1{
    font-size: 15px;
  }
  footer{
  
    z-index: 2;
  }
  header .sair{
    position: absolute;
    left: 82%;
    padding: 7px 8px ;
    top: 60px;

  }
  header .usuario{
    font-size: 10px;
    position: absolute;

    left: 82%;
    top:10px;
    border-radius: 100%;
    padding: 10px;
    background-color: #005f791a;
  }

  .sidebar {
    width: 100%;  /* Faz a sidebar ocupar 100% da tela em dispositivos móveis */
    position: fixed;
    height: 100vh;
    top: 90px;
    left: 100%;  /* Inicialmente esconde a sidebar */
    transition: right 0.7s ease;  /* Transição para aparecer */
    z-index: 1;
    max-width: 300px;
  }

  .sidebar.active {
    left: 0;  /* Torna a sidebar visível quando ativa */
  }
  .content .tabela table {
    width: 100%;
    /* max-width: 450px; */
    margin: 20px 0;
    margin-left: 300px;
    
    

  }

  .sidebar ul li a {
    padding: 10px 20px;  /* Ajusta o padding */
    font-size: 14px;  /* Ajusta o tamanho da fonte */
  }

  /* Adiciona um botão de menu (hamburguer) para abrir a sidebar */
  .hamburger-menu {
    display: flex;
    background: transparent;
    border: none;
    
    font-size: 28px;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    position: fixed;
    top: 26px;
    left: 15px;
    z-index: 1000;
    width: auto; /* Remove largura fixa */
    height: auto; /* Remove altura fixa */
  }
  
  .hamburger-menu.open {
    transform: rotate(90deg); /* Efeito de rotação */
    backdrop-filter: blur(3px); /* Desfoque elegante */
    transition: transform 0.3s ease, backdrop-filter 0.3s ease; /* Transições suaves */

  }
  
  .content .tabela table {
    width: 100%;
    max-width: 450px;
    margin: 20px 0;
    

  }
  .content{
    font-size: 10px;
  }

 .mensagem{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease, top 0.5s ease;
    border-radius: 8px;
    display: none;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
 .tabela{
  overflow-x: scroll;
 }
  
}